<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This application was developed by Maria Gloria Fernandez 
  @ GloriaFF

  I will show my work as a professional application development
  and other IT professionals
</p>
