
<div class="center hero-unit">
  <h1>Portfolio of Projects</h1>
  <h2>
  This page gives the portfolio of projects developed by IT professionals
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
